body {
    background: linear-gradient(to right, rgb(19, 20, 21), rgb(1, 19, 107));
    padding: 10px;
    width: 600px;
    height: 580px;
    margin: auto;
}

h1 {
    color: azure;
    text-align: center;
}

.container {
    margin: auto;
    width: 450px;
    height: 380px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 12px;
    border: 1px solid black;
    background: linear-gradient(to right, rgb(147, 220, 250), rgb(248, 247, 247));
}

.ya {
    width: 400px;
    height: 20px;
}

.a {
    text-decoration: none;
    margin: 0px 190px;
    background-color: rgb(0, 106, 255);
    color: white;
    padding: 8px;
}

.b {
    font-size: 60%;
    text-decoration: none;
    background-color: rgb(135, 154, 161);
    color: white;
    padding: 8px;
}